*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header{
    text-align: center;
}
header h1{
    margin: 50px 0px 30px 0px;
    font-size: 40px;
}
header p{
    font-size: 20px;
}
.pads{
    background-color: lightblue;
    width: 100%;
    display: flex;
}
.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
}
.pad1{
background-color: #60d394;
}
.pad2{
    background-color: #d36060;  
}
.pad3{
    background-color: #c060d3;
}
.pad4{
    background-color: #d3d160;
}
.pad5{
    background-color: #6860d3;
}
.pad6{
    background-color: #60b2d3;
}
.visual > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}
@keyframes jump {
    0%{
        bottom: 0%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0%;
        left: 80%;
    }
}
.footer{
    background-color: rgba(0, 0, 0, 0.215);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer > p{
    font-size: 12px;
    color: white;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }